<a href="https://colab.research.google.com/github/VitikaJain25/PandasRevision/blob/master/Pandas_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is Pandas tutorial for DATAFRAME BASICS. For more data - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

In [0]:
import pandas as pd 
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)    #Loading data as Disctionary
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [0]:
df.shape  # rows, columns = df.shape - To get the number of Rows and Columns

(6, 4)

In [0]:
df.head()  #df.head(3) - To get the top 5 rows or the number of rows as parameter

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4

In [0]:
df.tail()  #df.tail(3) - To get the bottom 5 rows or the number of rows as parameter

        day  event  temperature  windspeed
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [0]:
df[2:5]  # Slicing - Print 2 to 4 rows

        day event  temperature  windspeed
2  1/3/2017  Snow           28          2
3  1/4/2017  Snow           24          7
4  1/5/2017  Rain           32          4

In [0]:
df.columns  #Prints number/title of columns

Index([u'day', u'event', u'temperature', u'windspeed'], dtype='object')

In [0]:
df.day  # or df["day"]  - To print data from column "DAY"

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [0]:
type(df.day) #type(df['day'])  # To get the data type of your column.

pandas.core.series.Series

In [0]:
df[['day','temperature']]  # if you want to print only few columns

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [0]:
df.temperature.max()  #df['temperature'].max()  -- Prints max value in the column Temperature.  
# --- df.temperature.mean() --- df.temperature.min()  -- df.temperature.std()

35

In [0]:
df.describe()  # will print the statistics for the columns having int values.

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [0]:
df[df.temperature>32]  # Give me all rows in Dataframe where temperature >= 32  --- Conditionally selecting data

        day  event  temperature  windspeed
1  1/2/2017  Sunny           35          7

In [0]:
df[df.temperature == df.temperature.max()]  # give me dataframe where my temperature was max.

        day  event  temperature  windspeed
1  1/2/2017  Sunny           35          7

In [0]:
df[['day','temperature']][df.temperature == df.temperature.max()]  # give me only Day and temperature where my temperature was max. -- df.day[df.temperature == df.temperature.max()]

        day  temperature
1  1/2/2017           35

In [0]:
df  # Here index is int numbers

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2
3  1/4/2017   Snow           24          7
4  1/5/2017   Rain           32          4
5  1/6/2017  Sunny           31          2

In [0]:
df.index  #Here index is int numbers

Index([u'1/1/2017', u'1/2/2017', u'1/3/2017', u'1/4/2017', u'1/5/2017',
       u'1/6/2017'],
      dtype='object', name=u'day')

In [0]:
df.set_index('day')  # Here index is the day and not int numbers  -- Returns new dataframe -- DOES NOT MODIFY THE ORIGINAL DATAFRAME. # To modify we have to add "inplace = True"

KeyError: ignored

In [0]:
df.set_index('day', inplace=True)

In [0]:
df

          event  temperature  windspeed
day
1/1/2017   Rain           32          6
1/2/2017  Sunny           35          7
1/3/2017   Snow           28          2
1/4/2017   Snow           24          7
1/5/2017   Rain           32          4
1/6/2017  Sunny           31          2

In [0]:
df.loc['1/3/2017']   # it will display the whole row with day = 1/3/2017

event          Snow
temperature      28
windspeed         2
Name: 1/3/2017, dtype: object

In [0]:
df.reset_index(inplace=True)  # To reset index to int value.
df

   index       day  event  temperature  windspeed
0      0  1/1/2017   Rain           32          6
1      1  1/2/2017  Sunny           35          7
2      2  1/3/2017   Snow           28          2
3      3  1/4/2017   Snow           24          7
4      4  1/5/2017   Rain           32          4
5      5  1/6/2017  Sunny           31          2

In [0]:
df.set_index('event',inplace=True)
df

       index       day  temperature  windspeed
event
Rain       0  1/1/2017           32          6
Sunny      1  1/2/2017           35          7
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7
Rain       4  1/5/2017           32          4
Sunny      5  1/6/2017           31          2

In [0]:
df.loc['Snow']

       index       day  temperature  windspeed
event
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7