<a href="https://colab.research.google.com/github/VitikaJain25/PandasRevision/blob/master/ReadCleanExploreDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sklearn

import pandas as pd
import numpy as np

import datetime

In [33]:
from google.colab import files  #To read file from local
import io
uploaded = files.upload()   # To upload file from local.

automobile_df = pd.read_csv(io.BytesIO(uploaded['cars.csv']))

Saving cars.csv to cars (2).csv

In [34]:
automobile_df.head(5)

                       Model   MPG Cylinders  ...  bore  stroke compression-ratio
0  chevrolet chevelle malibu  18.0         8  ...  3.47    2.68                 9
1          buick skylark 320  15.0         8  ...  3.47    2.68                 ?
2         plymouth satellite  18.0         ?  ...  2.68    3.47                 9
3              amc rebel sst  16.0         8  ...  3.19    3.40                10
4                ford torino  17.0         8  ...  3.19    3.40                 8

[5 rows x 12 columns]

In [35]:
automobile_df.shape

(394, 12)

In [36]:
automobile_df.describe()

              MPG  Horsepower        bore      stroke
count  385.000000  394.000000  394.000000  394.000000
mean    23.551429  104.337563    3.305025    3.289289
std      7.821598   38.449600    0.270336    0.271165
min      9.000000   46.000000    2.540000    2.070000
25%     17.500000   75.000000    3.080000    3.150000
50%     23.000000   92.500000    3.270000    3.350000
75%     29.000000  125.000000    3.580000    3.400000
max     46.600000  230.000000    3.940000    4.170000

In [37]:
# Replacing '?' with nan values.
# As pandas has number of useful function that work with data type 'nan'. 
automobile_df = automobile_df.replace('?', np.nan)
automobile_df.head(5)

                       Model   MPG Cylinders  ...  bore  stroke compression-ratio
0  chevrolet chevelle malibu  18.0         8  ...  3.47    2.68                 9
1          buick skylark 320  15.0         8  ...  3.47    2.68               NaN
2         plymouth satellite  18.0       NaN  ...  2.68    3.47                 9
3              amc rebel sst  16.0         8  ...  3.19    3.40                10
4                ford torino  17.0         8  ...  3.19    3.40                 8

[5 rows x 12 columns]

In [38]:
# To check missing values
automobile_df.isna().sum()

Model                0
MPG                  9
Cylinders            2
Displacement         1
Horsepower           0
Weight               1
Acceleration         1
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    2
dtype: int64

In [39]:
# Filling all missing values in the column 'MPG' with the Mean of the column 'MPG'.
automobile_df['MPG'] = automobile_df['MPG'].fillna(automobile_df['MPG'].mean())
automobile_df.head(5)

                       Model   MPG Cylinders  ...  bore  stroke compression-ratio
0  chevrolet chevelle malibu  18.0         8  ...  3.47    2.68                 9
1          buick skylark 320  15.0         8  ...  3.47    2.68               NaN
2         plymouth satellite  18.0       NaN  ...  2.68    3.47                 9
3              amc rebel sst  16.0         8  ...  3.19    3.40                10
4                ford torino  17.0         8  ...  3.19    3.40                 8

[5 rows x 12 columns]

In [40]:
automobile_df.isna().sum()

Model                0
MPG                  0
Cylinders            2
Displacement         1
Horsepower           0
Weight               1
Acceleration         1
Year                 0
Origin               0
bore                 0
stroke               0
compression-ratio    2
dtype: int64

In [0]:
# Dropping records with fields missing
# If there are few records with missing values
# Valid only if you have sufficient data for you analysis
automobile_df = automobile_df.dropna()

In [42]:
automobile_df.shape

(387, 12)

In [0]:
# Dropping a particular column (if column is not needed)
automobile_df.drop('Model', inplace = True, axis = 1)

In [44]:
automobile_df.shape

(387, 11)

In [45]:
automobile_df.sample(5)

      MPG Cylinders Displacement  ...  bore stroke compression-ratio
320  46.6         4           86  ...  2.97   3.23               9.4
262  18.1         8          302  ...  3.27   3.35               9.2
74   14.0         8          318  ...  3.80   3.35                 8
192  22.5         6          232  ...  3.01   3.40                23
97   16.0         6          250  ...  3.15   3.29               9.4

[5 rows x 11 columns]

In [0]:
# Dropping other few column
automobile_df.drop(['bore', 'stroke', 'compression-ratio'], inplace = True, axis = 1)

In [48]:
automobile_df.shape

(387, 8)

In [50]:
automobile_df.head(5)

# We will have to clean the 'Year' and 'Origin' column

         MPG Cylinders  ...        Year                 Origin
0  18.000000         8  ...  1970[1975]  US; Detroit, Michigan
3  16.000000         8  ...        1970                     US
4  17.000000         8  ...   1970-1972                    US]
6  14.000000         8  ...  1970[1975]  US; Detroit, Michigan
7  23.551429         8  ...        1970                     US

[5 rows x 8 columns]

In [54]:
# To check how many values in the column 'Year' is numeric or non numeric
automobile_df['Year'].str.isnumeric().value_counts()

# We have 351 numeric values and 36 non numeric values.
# Useful information to clear the 'Year' Column.

True     351
False     36
Name: Year, dtype: int64

In [55]:
# To see all the non numeric value in the column 'Year'
automobile_df['Year'].loc[automobile_df['Year'].str.isnumeric() == False]

# We can see the data type is object

0          1970[1975]
4           1970-1972
6          1970[1975]
30      1971[1973]971
35         1971[1973]
40         1971[1973]
44         1971[1973]
49         1971[1973]
56         1972[1973]
61         1972[1973]
65         1972[1973]
68         1972[1973]
73         1972[1973]
75            1972-73
79            1972-73
82            1972-73
96          1973-1974
97         1973, 1974
102    1973, 19741973
105        1973, 1974
108        1973, 1974
112        1973, 1974
115        1973, 1974
126        1974, 1975
131        1974, 1975
134        1974, 1975
137        1974, 1975
139    1974, 19751974
142        1974, 1975
365         1982-1985
374         1982-1985
380         1982-1985
383         1982-1985
387         1982-1985
389         1982-1985
391         1982-1985
Name: Year, dtype: object

In [65]:
# We can extract only the first 4 characters to get the 'Year' information
# We can do it using regular expression
Year_extract = automobile_df['Year'].str.extract(r'^(\d{4})', expand = False)
Year_extract.head()

0    1970
3    1970
4    1970
6    1970
7    1970
Name: Year, dtype: object

In [66]:
# To check missing values in 'Year' column
automobile_df['Year'].isnull().sum()

0

In [69]:
#automobile_df['Year'] = Year_extract
# Or use to_numeric to convert the dtype to numeric
automobile_df['Year'] = pd.to_numeric(Year_extract)
automobile_df
# Now the column 'Year' is cleaned

           MPG Cylinders Displacement  ...  Acceleration  Year                 Origin
0    18.000000         8          307  ...            12  1970  US; Detroit, Michigan
3    16.000000         8          304  ...            12  1970                     US
4    17.000000         8          302  ...          10.5  1970                    US]
6    14.000000         8          454  ...             9  1970  US; Detroit, Michigan
7    23.551429         8          440  ...           8.5  1970                     US
..         ...       ...          ...  ...           ...   ...                    ...
389  27.000000         4          140  ...          15.6  1982                     US
390  44.000000         4           97  ...          24.6  1982                 Europe
391  32.000000         4          135  ...          11.6  1982                     US
392  28.000000         4          120  ...          18.6  1982                     US
393  31.000000         4          119  ...          19.4  1982                     US

[387 rows x 8 columns]

In [70]:
automobile_df['Year'].dtype

dtype('int64')

In [72]:
# We can add a new feature called 'Age' of the car as age of the car may effect the mileage of the car.
# Age = Current year - Value in Year column
automobile_df['Age'] = int(datetime.datetime.now().year) - automobile_df['Year']
automobile_df['Age'].head(10)

0     50
3     50
4     50
6     50
7     50
8     50
9     50
10    50
11    50
12    50
Name: Age, dtype: int64

In [73]:
automobile_df['Age'].sample(10)

217    43
327    40
114    47
48     49
297    41
288    41
63     48
261    42
98     47
151    45
Name: Age, dtype: int64

In [0]:
# Dropping 'Year' Column
automobile_df.drop('Year', inplace=True, axis = 1)

In [75]:
automobile_df.sample(10)

      MPG Cylinders Displacement  Horsepower Weight Acceleration  Origin  Age
120  15.0         8          318         150   3399           11      US   47
219  17.5         8          305         145   3880         12.5      US   43
122  20.0         6          156         122   2807         13.5   Japan   47
350  34.5         4          100          65   2320         15.8  Europe   39
196  33.0         4           91          53   1795         17.4   Japan   44
216  36.0         4           79          58   1825         18.6  Europe   43
11   14.0         -          340         160   3609            8      US   50
23   26.0         4          121         113   2234         12.5  Europe   50
322  40.8         4           85          65   2110         19.2   Japan   40
200  17.5         6          258          95   3193         17.8      US   44

In [76]:
# To check if the data requires further cleaning, we will check the data types
automobile_df.dtypes

MPG             float64
Cylinders        object
Displacement     object
Horsepower        int64
Weight           object
Acceleration     object
Origin           object
Age               int64
dtype: object

In [78]:
# The above columns like 'Cylinders', 'Weight' etc should have been numeric.
# If not, then there might be some further cleaning required.
# Lets start with the 'Cylinders' column.

automobile_df['Cylinders'].isnull().sum()

# We saw that there are no missing values

0

In [79]:
# We will now check the numeric and non numberic value in the column 'Cylinders'.
automobile_df['Cylinders'].str.isnumeric().value_counts()

True     378
False      9
Name: Cylinders, dtype: int64

In [80]:
# To see all the non numeric value in the column 'Cylinders'
automobile_df['Cylinders'].loc[automobile_df['Cylinders'].str.isnumeric() == False]

# Another representation of missing values

11    -
22    -
32    -
42    -
51    -
58    -
69    -
82    -
89    -
Name: Cylinders, dtype: object

In [81]:
# We will extract all the numeric values and calculate the mean of the column 'Cylinders'
# Then we will replace the missing values / dash by the mean value
cylinders_no_nissing_value = automobile_df['Cylinders'].loc[automobile_df['Cylinders'] != '-']
cylinders_no_nissing_value

0      8
3      8
4      8
6      8
7      8
      ..
389    4
390    4
391    4
392    4
393    4
Name: Cylinders, Length: 378, dtype: object

In [86]:
# Converting the values to integers and then calculating the mean.
cylinders_mean = cylinders_no_nissing_value.astype(int).mean()
cylinders_mean

5.420634920634921

In [0]:
automobile_df['Cylinders'] = automobile_df['Cylinders'].replace('-', cylinders_mean).astype(int)

In [90]:
automobile_df.dtypes
# Cylinders is not of type 'int'

MPG             float64
Cylinders         int64
Displacement     object
Horsepower        int64
Weight           object
Acceleration     object
Origin           object
Age               int64
dtype: object

In [0]:
# Now lets clean the 'Displacement' column.
# converting it to float type.

# Displacement should be a numeric field and not an object, so we will use the pd.to_numeric function in order to coerce displacement 
# to be a number. Errors is equal to coerce. We'll convert invalid numeric values to NaNs, or not a number.

automobile_df['Displacement'] = pd.to_numeric(automobile_df['Displacement'], errors = 'coerce')

In [92]:
automobile_df.dtypes

MPG             float64
Cylinders         int64
Displacement    float64
Horsepower        int64
Weight           object
Acceleration     object
Origin           object
Age               int64
dtype: object

In [0]:
# Converting the Weight column to numeric
automobile_df['Weight'] = pd.to_numeric(automobile_df['Weight'], errors = 'coerce')

In [94]:
automobile_df.dtypes

MPG             float64
Cylinders         int64
Displacement    float64
Horsepower        int64
Weight            int64
Acceleration     object
Origin           object
Age               int64
dtype: object

In [96]:
automobile_df['Acceleration'] = pd.to_numeric(automobile_df['Acceleration'], errors = 'coerce')
automobile_df.dtypes

MPG             float64
Cylinders         int64
Displacement    float64
Horsepower        int64
Weight            int64
Acceleration    float64
Origin           object
Age               int64
dtype: object

In [97]:
# Cleaning the column 'Origin'
automobile_df['Origin'].head(10)

0     US; Detroit, Michigan
3                        US
4                       US]
6     US; Detroit, Michigan
7                        US
8                        US
9                       US]
10                       US
11                       US
12    US; Detroit, Michigan
Name: Origin, dtype: object

In [98]:
# To get all the unique values
automobile_df['Origin'].unique()

# Now we saw that the origin can be either 'US', 'Europe', and 'Japan'
# We will remove the cities and pick only countries

array(['US; Detroit, Michigan', 'US', 'US]', 'Japan; Aichi',
       'Europe-Germany', 'Europe', 'Japan; Tokyo', 'Japan; Aichi]',
       'US; Detroit, Michigan]', 'Japan; Tokyo]', 'Japan',
       'Europe Germany'], dtype=object)

In [101]:
# Now we will replace the string which contains 'US' with 'US' or else we will leave the string as is
automobile_df['Origin'] = np.where(automobile_df['Origin'].str.contains('US'), 'US', automobile_df['Origin'])
automobile_df['Origin'].unique()

array(['US', 'Japan; Aichi', 'Europe-Germany', 'Europe', 'Japan; Tokyo',
       'Japan; Aichi]', 'Japan; Tokyo]', 'Japan', 'Europe Germany'],
      dtype=object)

In [102]:
# Repeating the above step for Japan
automobile_df['Origin'] = np.where(automobile_df['Origin'].str.contains('Japan'), 'Japan', automobile_df['Origin'])
automobile_df['Origin'].unique()

array(['US', 'Japan', 'Europe-Germany', 'Europe', 'Europe Germany'],
      dtype=object)

In [103]:
# Repeating the above step for Europe
automobile_df['Origin'] = np.where(automobile_df['Origin'].str.contains('Europe'), 'Europe', automobile_df['Origin'])
automobile_df['Origin'].unique()

array(['US', 'Japan', 'Europe'], dtype=object)

In [104]:
automobile_df.shape

(387, 8)

In [105]:
automobile_df.dtypes

MPG             float64
Cylinders         int64
Displacement    float64
Horsepower        int64
Weight            int64
Acceleration    float64
Origin           object
Age               int64
dtype: object

In [107]:
automobile_df.describe()

              MPG   Cylinders  ...  Acceleration         Age
count  387.000000  387.000000  ...    387.000000  387.000000
mean    23.672514    5.410853  ...     15.573643   43.917313
std      7.736579    1.667795  ...      2.746260    3.668715
min      9.000000    3.000000  ...      8.000000   38.000000
25%     17.600000    4.000000  ...     13.900000   41.000000
50%     23.200000    4.000000  ...     15.500000   44.000000
75%     29.000000    6.000000  ...     17.050000   47.000000
max     46.600000    8.000000  ...     24.800000   50.000000

[8 rows x 7 columns]